#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#napkin-image {
  width: 850px;
  height: 850px;
  box-shadow: 0 0 80px 80px var(--background-color) inset;
  background-image: url('./assets/napkin.png');
}
